{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Hero Section -->
<div class="container page-container d-flex justify-content-center align-items-center text-center">
    <div class="row">
        <div class="col">
            <h1 class="mt-5">Reviews</h1>
            <p class="content">See what our customers think of us, and feel free to leave your own review.</p>
            <p class="content">Please note that you must be signed in to leave a review.</p>

            <a class="cta-button mb-4" href="{% url 'review_create' %}">Add Review</a>
        </div>
    </div>
</div>

<!-- Filter Form -->
<div class="container text-center mb-4 ">
    <div class="row">
        <div class="col-12">
            <form method="GET" action="{% url 'reviews' %}"
                class="d-flex flex-column flex-md-row justify-content-center align-items-center">
                <!-- Filter By Rating -->
                <div class="m-1">
                    <label for="rating">Filter by Rating:</label>
                    <select name="rating" id="rating">
                        <option value="">All Ratings</option>
                        <option value="1">1 Star</option>
                        <option value="2">2 Stars</option>
                        <option value="3">3 Stars</option>
                        <option value="4">4 Stars</option>
                        <option value="5">5 Stars</option>
                    </select>
                </div>
                <!-- Sort By -->
                <div class="m-1">
                    <label for="sort">Sort By:</label>
                    <select name="sort" id="sort">
                        <option value="newest">Newest</option>
                        <option value="oldest">Oldest</option>
                        <option value="highest">Highest Rating</option>
                        <option value="lowest">Lowest Rating</option>
                    </select>
                </div>
                <!-- Submit Button -->
                <div class="m-1">
                    <input type="submit" value="Filter" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Reviews -->
<div class="container-fluid reviews-section">
    <div class="row">
        {% for review in reviews %}
        <div class="col-md-8 col-lg-5 mb-4 text-center mx-auto">
            <!-- Review Card -->
            <div class="card review-card">
                <div class="card-body">
                    <p>
                        {% for _ in review.filled_stars %}
                        <i class="fas fa-star text-warning"></i>
                        {% endfor %}
                        {% for _ in review.empty_stars %}
                        <i class="far fa-star text-muted"></i>
                        {% endfor %}
                    </p>
                    <p class="card-text">"{{ review.content }}"</p>
                    <p class="card-text">- {{ review.user }}</p>
                </div>
            </div>
            <!-- Edit/Delete Buttons -->
            {% if user.is_authenticated and review.user == user %}
            <a href="{% url 'review_edit' review.pk %}" class="btn btn-primary">Edit</a>
            <form method="POST" action="{% url 'review_delete' review.pk %}" style="display:inline;">
                {% csrf_token %}
                <a href="{% url 'review_delete' review.pk %}" type="submit" class="btn btn-danger">Delete</a>
            </form>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}