{% extends 'base.html' %}

{% block content %}
<div class="container-fluid form-container">
    <div class="row">
        <div class="col mx-auto text-center">
            <h2 class="section-title">Delete Review</h2>
            <p class="mb-5">Are you sure you want to delete your review?</p>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Confirm</button>
                    <a class="btn btn-danger" href="{% url 'reviews' %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}