{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid review-container text-center">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title">Reviews</h1>
            <p class="content">See what our customers think of us, and feel free to leave your own review.</p>
            <p class="content">Please note that you must be signed in to leave a review.</p>
            <a class="cta-button mb-4" href="{% url 'review_create' %}">Add Review</a>
            <div class="row">
                {% for review in reviews %}
                <div class="col-md-8 col-lg-5 mb-4 mx-auto">
                    <div class="card review-card">
                        <div class="card-body">
                            <p>
                                {% for _ in review.filled_stars %}
                                <i class="fas fa-star text-warning"></i>
                                {% endfor %}
                                {% for _ in review.empty_stars %}
                                <i class="far fa-star text-muted"></i>
                                {% endfor %}
                            </p>
                            <p class="card-text">"{{ review.content }}"</p>
                            <p class="card-text">- {{ review.user }}</p>
                        </div>
                    </div>
                    {% if user.is_authenticated and review.user == user %}
                    <a href="{% url 'review_edit' review.pk %}" class="btn btn-primary">Edit</a>
                    <form method="POST" action="{% url 'review_delete' review.pk %}" style="display:inline;">
                        {% csrf_token %}
                        <a href="{% url 'review_delete' review.pk %}" type="submit" class="btn btn-danger">Delete</a>
                    </form>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}