{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid form-container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 text-center mx-auto mb-5">
            <h2 class="section-title">{% if form.instance.pk %}Edit Review{% else %}New Review{% endif %}</h2>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Save</button>
                <a class="btn btn-danger" href="{% url 'reviews' %}">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}