{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid membership-section">
    <div class="row mt-5 d-flex justify-content-center align-items-center text-center">
        <div class="col-lg-8 mt-5 mx-auto">
            {% if user_order %}
            <h1 class="mb-3">Your Membership</h1>
            {% else %}
            <h1 class="mb-3">Our Memberships</h1>
            {% if user.is_authenticated %}
            <p class="mb-3">Choose the membership that suits your fitness goals and budget. We offer a range of options
                to help you
                achieve your best results.</p>
            {% else %}
            <p class="mb-3">Choose the membership that suits your fitness goals and budget. We offer a range of options
                to help you
                achieve your best results.
                <a href="{% url 'account_login' %}?next={% url 'membership' %}">Sign in</a> if you are an existing
                customer.
                If you are new here, please create an account <a
                    href="{% url 'account_signup' %}?next={% url 'membership' %}">here</a>.
            </p>
            {% endif %}
            {% endif %}
        </div>
    </div>

    <!-- Membership Management Section -->
    {% if user_order %}
    <!-- Only appears if user has a membership -->
    <div class="container-fluid mt-5 d-flex justify-content-center align-items-center text-center">
        <div class="card membership-card-large {{ user_order.membership.membership_type|lower }}-border">
            <div class="card-body">
                <img src="{% if user_order.membership.membership_type == 'Bronze' %}
                https://res.cloudinary.com/dbkejesw4/image/upload/v1727693673/bronze_wmny2f.webp
            {% elif user_order.membership.membership_type == 'Silver' %}
                https://res.cloudinary.com/dbkejesw4/image/upload/v1727693672/silver_v25pk2.webp
            {% elif user_order.membership.membership_type == 'Gold' %}
                https://res.cloudinary.com/dbkejesw4/image/upload/v1727693672/gold_wyqkru.webp
            {% endif %}" alt="{{ user_order.membership.membership_type }} Membership Icon" loading="lazy">
                <h3>{{ user_order.membership.membership_type }} Membership</h3>
                <p>{% if user_order.membership.membership_type == 'Bronze' %}
                    Basic access to the gym and standard facilities.
                    {% elif user_order.membership.membership_type == 'Silver' %}
                    Access to all facilities plus group classes.
                    {% else %}
                    Full access including personal training sessions.
                    {% endif %}</p>
                <p> £{% if user_order.membership.membership_type == 'Bronze' %}
                    25
                    {% elif user_order.membership.membership_type == 'Silver' %}
                    35
                    {% elif user_order.membership.membership_type == 'Gold' %}
                    50
                    {% endif %}/month</p>
                <a href="{% url 'manage' %}" class="btn btn-success">Manage</a>
            </div>
        </div>
    </div>

    {% else %}
    <!-- Only appears if user does not have a membership -->
     
    <div class="row mt-5 d-flex justify-content-center membership-cards-container">
        <!-- Bronze Membership Card -->
        <div class="col-12 col-md-3 membership-card bronze text-center">
            <img src="https://res.cloudinary.com/dbkejesw4/image/upload/v1727693673/bronze_wmny2f.webp"
                alt="Bronze Membership Icon" loading="lazy">
            <h3>Bronze Membership</h3>
            <p>Basic access to the gym and standard facilities.</p>
            <p>£25/month</p>
            {% if user.is_authenticated %}
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="membership_type" value="Bronze">
                <button type="submit" class="btn btn-danger">Buy Now</button>
            </form>
            {% else %}
            <p class="text-danger">Please log in to purchase this membership.</p>
            {% endif %}
        </div>

        <!-- Silver Membership Card -->
        <div class="col-12 col-md-3 membership-card silver text-center">
            <img src="https://res.cloudinary.com/dbkejesw4/image/upload/v1727693672/silver_v25pk2.webp"
                alt="Silver Membership Icon" loading="lazy">
            <h3>Silver Membership</h3>
            <p>Access to all facilities plus group classes.</p>
            <p>£35/month</p>
            {% if user.is_authenticated %}
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="membership_type" value="Silver">
                <button type="submit" class="btn btn-danger">Buy Now</button>
            </form>
            {% else %}
            <p class="text-danger">Please log in to purchase this membership.</p>
            {% endif %}
        </div>

        <!-- Gold Membership Card -->
        <div class="col-12 col-md-3 membership-card gold text-center">
            <img src="https://res.cloudinary.com/dbkejesw4/image/upload/v1727693672/gold_wyqkru.webp"
                alt="Gold Membership Icon" loading="lazy">
            <h3>Gold Membership</h3>
            <p>Full access including personal training sessions.</p>
            <p>£50/month</p>
            {% if user.is_authenticated %}
            <form action="" method="POST">
                {% csrf_token %}
                <input type="hidden" name="membership_type" value="Gold">
                <button type="submit" class="btn btn-danger">Buy Now</button>
            </form>
            {% else %}
            <p class="text-danger">Please log in to purchase this membership.</p>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <!-- Join Now Button -->
    {% if not user.is_authenticated %}
    <div class="row">
        <div class="col text-center">
            <a href="{% url 'account_signup' %}" class="cta-button">Sign Up</a>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}