{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container-fluid form-container sign-in-container">
  <div class="row">
    <div class="auth-container">
      <h3 class="form-title">{% trans "Sign Out" %}</h3>
      <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>
      <div>
        <!-- Logout form -->
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="d-flex justify-content-center mb-3">
          <button class="btn btn-danger" type="submit">{% trans 'Sign Out' %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}