{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Hero Section -->
<div class="container page-container d-flex justify-content-center align-items-center text-center">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="mt-5">About Us</h1>
            <p>Discover what makes Full Stack Fitness your go-to gym. Scroll down to explore our state-of-the-art
                facilities, convenient location, and flexible operating times designed to fit your schedule. We're here
                to
                support your fitness journey every step of the way.</p>
            <a href="" class="cta-button">Join Now</a>
        </div>
    </div>
</div>

<!-- Facilities Section -->

<section class="container-fluid facilities-section text-center">
    <div class="row">
        <div class="col-12">
            <h2 class="mb-4">Our Facilities</h2>
        </div>
    </div>

    <div class="row justify-content-center">
        <!-- Weights Section -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card facility-card">
                <img src="https://res.cloudinary.com/dbkejesw4/image/upload/v1727693679/weights_ueq9m5.webp"
                    class="card-img-top" alt="Weights Facility" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">Weights</h3>
                    <p class="card-text">State-of-the-art weights for all strength levels.</p>
                </div>
            </div>
        </div>

        <!-- Cardio Section -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card facility-card">
                <img src="https://res.cloudinary.com/dbkejesw4/image/upload/v1727693676/treadmill_notte3.webp"
                    class="card-img-top" alt="Cardio Facility" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">Cardio</h3>
                    <p class="card-text">Modern cardio equipment to improve endurance.</p>
                </div>
            </div>
        </div>

        <!-- Group Classes Section -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card facility-card">
                <img src="https://res.cloudinary.com/dbkejesw4/image/upload/v1727693677/gym-class_vjkfbn.webp"
                    class="card-img-top" alt="Group Classes" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">Group Classes</h3>
                    <p class="card-text">Join a variety of group fitness classes.</p>
                </div>
            </div>
        </div>

        <!-- Personal Training Section -->
        <div class="col-12 col-md-6 col-lg-4">
            <div class="card facility-card">
                <img src="https://res.cloudinary.com/dbkejesw4/image/upload/v1727693679/personal-training_gelrbw.webp"
                    class="card-img-top" alt="Personal Training" loading="lazy">
                <div class="card-body">
                    <h3 class="card-title">Personal Training</h3>
                    <p class="card-text">One-on-one sessions with professional trainers.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Location and Opening Times -->

<div class="location-hours-section text-center">
    <h2>Location & Opening Times</h2>
    <div class="location-details">
        <p><strong>Location:</strong> 39 High Street, Warwick, CV34 3AX</p>
        <p><strong>Opening Times:</strong></p>
        <ul>
            <li>Monday - Friday: 6:00 AM - 10:00 PM</li>
            <li>Saturday: 8:00 AM - 8:00 PM</li>
            <li>Sunday: 9:00 AM - 6:00 PM</li>
        </ul>
    </div>
</div>

{% endblock %}