@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body, html {
  font-family: 'Montserrat', sans-serif;
  color: #6C757D;
  overflow-x: hidden;
}

/* Navbar */

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  font-size: clamp(1.25rem, 2vw + 0.5rem, 2rem);
  font-weight: 600;
  color: #6C757D;
}

.navbar-brand:hover {
  color: #6C757D;
}

.nav-link {
  font-size: 1.2rem;
  transition: transform 0.3s ease;
}

.nav-link:hover {
  transform: scale(1.1);
  color: black;
}

.nav-link.active {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

/* Footer */

footer {
  background-color: #F8F9FA;
  padding: 1rem 0;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #6C757D;
}

.footer-icon i {
  color: #F8F9FA;
  transition: transform 0.3s ease;
}

.footer-icon i:hover {
  color: #F8F9FA;
  transform: scale(1.1);
}

.footer-copyright {
  display: flex;
  justify-content: center;
  padding: 0.5rem 2rem;
}

/* Authentication Forms */

.container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-title {
  text-align: center;
  margin: 1rem 0;
}

/* Hero image */

.hero-image {
  background-image: url('/static/images/hero-image.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.hero-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.hero-content {
  color: white;
  text-align: center;
  z-index: 1;
  opacity: 0;
  transform: scale(0.8);
  animation: zoomIn 1.5s ease forwards;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.hero-content h1 {
  font-size: 3em;
}

.hero-content p {
  font-size: 1.5em;
  margin: 20px 0;
}

.cta-button {
  background-color: #ff6f61;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
  display: inline-block;
}

.cta-button:hover {
  background-color: #ff3c2f;
}

/* Home Page Sections */

.home-page-sections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* About Section */

.about-teaser {
  background-color: #f8f8f8;
  min-height: 50vh;
  padding: 50px 20px;
}

/* Membership cards */

.membership-section {
  text-align: center;
  padding: 60px 20px;
}

.membership-cards-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}

.membership-card {
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px 0;
  width: 250px;
  transition: transform 0.3s ease;
}

.membership-card img {
  width: 50px;
  margin-bottom: 15px;
}

.membership-card h3 {
  margin-bottom: 10px;
}

.membership-card p {
  margin: 5px 0;
}

.bronze {
  border: 3px solid #cd7f32;
}

.silver {
  border: 3px solid #c0c0c0;
}

.gold {
  border: 3px solid #ffd700;
}

.join-now {
  margin-top: 40px;
}

.cta-button {
  background-color: #ff6f61;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #e65b52;
}


.reviews-teaser {
  padding: 50px 20px;
  min-height: 40vh;
  background-color: #f2f2f2;
}

.cta-banner {
  min-height: 30vh;
  padding: 40px 20px;
  background-color: #ff6f61;
  color: white;
}

.cta-banner a {
  background-color: white;
  color: #ff6f61;
  border: 2px solid white;
}

.cta-banner a:hover {
  background-color: #f2f2f2;
  color: #ff6f61;
  border: 2px solid #f2f2f2;
}